<% meta_tag :description, "Software Engineer (iOS, Swift) / Father from Ukraine" %>
<% meta_tag :keywords, "iOS, Developer, Engineer, Blog, Ukraine" %>
<% @title = "Yura Voevodin" %>
<%= render "layouts/header" %>

<div class="col-9 mx-auto py-md-5">

    <div class="row fs-5 p-3 rounded-3 bg-primary-subtle">
        <div class="col-sm-3 mt-3">
            <%= image_tag 'blue square.jpeg', class: "img-thumbnail border border-0", alt: "Yura Voevodin" %>
        </div>

        <div class="col">
            <div class="container-fluid py-3 px-3">
                <h4>Hi! I'm Yura Voevodin, from Ukraine 🇺🇦</h4>

                <p>I have many years of programming experience, bachelor's degree in Computer Science</p>

                <p>I work as <code class="prettyprint">Software Engineer</code> and write code on <code class="prettyprint">Swift</code>, mainly building an iOS applications</p>

                <p>I also use <a href="https://rubyonrails.org" rel="nofollow" target="_blank">Ruby On Rails</a> framework for my <a href="/projects" rel="nofollow" target="_blank">own projects</a></p>

                <p>Feel free to ask me any questions and follow me on <a href="https://www.instagram.com/yurii.voievodin" rel="nofollow" target="_blank">social media</a></p>
            </div>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 bg-light-subtle rounded-3">
        <%= render "layouts/experience" %>
    </div>

    <%= render "layouts/skills", skills_list: skills_list %>

    <%= render "layouts/contacts", contacts_list: contacts_list %>

    <%= render "layouts/footer" %>

</div>
