<% meta_tag :description, "Software Engineer (iOS, Swift) / Father from Ukraine" %>
<% meta_tag :keywords, "iOS, Developer, Engineer, Blog, Ukraine" %>
<% @title = "Yura Voevodin - Personal" %>
<%= render "layouts/header" %>

<div class="col-9 mx-auto py-md-5">

    <div class="row fs-5 p-3 bg-light-subtle rounded-3">
        <div class="col">

            <h4>📷 Some of my favorite photos</h4>

            <div class="row mt-4">
                <% @photos.each_slice(3) do |slice| %>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

                    <% slice.each do |photo| %>
                    <%= image_tag photo['name'], class: "w-100 shadow-1-strong rounded mb-4" %>
                    <% end %>

                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 bg-light-subtle rounded-3" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4>🍿 I'm watching (movies + TV series)</h4>
                </div>

                <% @movies.each do |movie| %>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3 bg-dark border-dark">
                        <div class="card-thumbnail">
                            <%= image_tag movie['image'], class: "rounded img-fluid" %>
                        </div>
                        <div class="card-body">
                            <div class="card-title fw-light">
                                <a href="<%= movie['url'] %>" rel="nofollow" target="_blank" class="link-danger text-decoration-none"><%= movie['name'] %></a>
                            </div>
                        </div>
                    </div>
                </div>

                <% end %>
            </div>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 bg-primary-subtle rounded-3">
        <div class="col">
            <h4>📖 I'm reading</h4>
            <ul class="list-unstyled">
                <% @books.each do |book| %>
                <li>
                    <a href="<%= book['url'] %>" rel="nofollow" target="_blank" class="text-decoration-none"><%= book['name'] %></a>
                </li>
                <% end %>
            </ul>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 bg-light-subtle rounded-3" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4>🎮 I'm playing</h4>
                </div>

                <% @games.each do |game| %>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3 bg-dark border-dark">
                        <div class="card-thumbnail">
                            <%= image_tag game['image'], class: "rounded img-fluid" %>
                        </div>
                        <div class="card-body">
                            <div class="card-title fw-light">
                                <a href="<%= game['url'] %>" rel="nofollow" target="_blank" class="link-danger text-decoration-none"><%= game['name'] %></a>
                            </div>
                        </div>
                    </div>
                </div>

                <% end %>
            </div>
        </div>
    </div>

    <%= render "layouts/footer" %>
</div>