<% @title = "Юра Воєводін" %>
<%= render "layouts/header_ua" %>

<div class="col-9 mx-auto py-md-5">

    <div class="row fs-5 p-3 bg-primary-subtle rounded-3">
        <div class="col-sm-3 mt-3">
            <%= image_tag 'blue square.jpeg', class: "img-thumbnail border border-0", alt: "Юра Воєводін" %>
        </div>

        <div class="col">
            <div class="container-fluid py-3 px-3">
                <h4>Привіт! Я Юра Воєводін, з України 🇺🇦</h4>

                <p>Маю багаторічний досвід програмування, ступінь бакалавра комп’ютерних наук</p>

                <p>Я займаюся <code class="prettyprint">розробкою програмного забезпечення</code> та пишу код мовою програмування <code class="prettyprint">Swift</code>, в основному створюю додатки для iOS</p>

                <p>Також я використовую фреймворк <a href="https://rubyonrails.org" rel="nofollow" target="_blank">Ruby On Rails</a> для <a href="/projects" rel="nofollow" target="_blank">власних проєктів</a></p>
            </div>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 bg-light-subtle rounded-3">
        <%= render "layouts/experience" %>
    </div>

  <div class="row fs-5 p-3 mt-5 bg-light-subtle rounded-3">
    <div class="container-fluid py-3 px-3">
        <h4>✏️ Блог</h4>
        <p>Читайте мої статті для натхнення 😉</p>

        <ul class="list-unstyled">
            <li>
              <i class="bi bi-arrow-right-circle text-muted"></i>
              <a href="/ua/blog/low-data-mode">Як оптимізувати використання мобільного Інтернет</a>
          </li>
            <li>
              <i class="bi bi-arrow-right-circle text-muted"></i>
              <a href="/ua/blog/feature">Привіт із майбутнього!</a>
          </li>
      </ul>
  </div>
</div>

    <%= render "layouts/skills", skills_list: skills_list %>

    <%= render "layouts/contacts", contacts_list: contacts_list %>

    <%= render "layouts/footer" %>
</div>
