<% @title = "Юра Воєводін - Особисте" %>
<%= render "layouts/header_ua" %>

<div class="col-9 mx-auto py-md-5">

    <div class="row fs-5 p-3 bg-light border rounded-3">
        <div class="col">

            <h4>📷 Деякі з моїх улюблених фото</h4>

            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <%= image_pack_tag '4.jpeg', class: "w-100 shadow-1-strong rounded mb-4" %>
                    <%= image_pack_tag '7.jpeg', class: "w-100 shadow-1-strong rounded mb-4" %>
                    <%= image_pack_tag '9.jpeg', class: "w-100 shadow-1-strong rounded mb-4" %>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <%= image_pack_tag '8.jpeg', class: "w-100 shadow-1-strong rounded mb-4" %>
                    <%= image_pack_tag '5.jpeg', class: "w-100 shadow-1-strong rounded mb-4" %>
                    <%= image_pack_tag '1.jpeg', class: "w-100 shadow-1-strong rounded mb-4" %>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <%= image_pack_tag '3.jpeg', class: "w-100 shadow-1-strong rounded mb-4" %>
                    <%= image_pack_tag '6.jpeg', class: "w-100 shadow-1-strong rounded mb-4" %>
                    <%= image_pack_tag '2.jpeg', class: "w-100 shadow-1-strong rounded mb-4" %>
                </div>
            </div>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 text-white bg-dark rounded-3">
        <div class="col">
            <h4>🍿 Я дивлюся (фільми + серіали)</h4>

            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <div class="w-100 rounded mb-4">
                        <%= image_pack_tag 'dune.jpg', class: "shadow-1-strong rounded img-fluid" %>
                        <a href="https://uk.wikipedia.org/wiki/Дюна_(фільм,_2021)" rel="nofollow" target="_blank" class="link-danger">Дюна</a>
                    </div>

                    <div class="w-100 rounded mb-4">
                        <%= image_pack_tag 'Altered_Carbon_title.jpg', class: "shadow-1-strong rounded img-fluid" %>
                        <a href="https://uk.wikipedia.org/wiki/Зінакшений_вуглець_(телесеріал)" rel="nofollow" target="_blank" class="link-danger">Модифікований вуглець</a>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="w-100 rounded mb-4">
                        <%= image_pack_tag 'The.Matrix.glmatrix.2.png', class: "shadow-1-strong rounded img-fluid" %>
                        <a href="https://uk.wikipedia.org/wiki/Матриця_(фільм)" rel="nofollow" target="_blank" class="link-danger">Матриця</a>
                    </div>

                    <div class="w-100 rounded mb-4">
                        <%= image_pack_tag 'The_Morning_Show.png', class: "shadow-1-strong rounded img-fluid" %>
                        <a href="https://uk.wikipedia.org/wiki/Ранкове_шоу_(телесеріал)" rel="nofollow" target="_blank" class="link-danger">Ранкове шоу</a>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="w-100 rounded mb-4">
                        <%= image_pack_tag 'ldr-main.jpg', class: "shadow-1-strong rounded img-fluid" %>
                        <a href="https://uk.wikipedia.org/wiki/Любов,_смерть_і_роботи" rel="nofollow" target="_blank" class="link-danger">Любов, смерть і роботи</a>
                    </div>

                    <div class="w-100 rounded mb-4">
                        <div class="row">
                            <%= image_pack_tag 'See_(TV_series)_poster.jpg', class: "shadow-1-strong rounded img-fluid" %>
                            <a href="https://uk.wikipedia.org/wiki/Бачити_(телесеріал)" rel="nofollow" target="_blank" class="link-danger">Бачити</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 bg-light border rounded-3">
        <div class="col">
            <h4>📖 Я читаю</h4>
            <ul class="list-unstyled">
                <li><a href="https://uk.wikipedia.org/wiki/Дюна_(франшиза)" rel="nofollow" target="_blank" class="link-info">Всесвіт Дюни</a></li>

                <li><a href="https://uk.wikipedia.org/wiki/Фундація_(цикл_творів)" rel="nofollow" target="_blank" class="link-info">Фундація</a></li>
            </ul>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 text-white bg-dark rounded-3">
        <div class="col">
            <h4>🎮 Граю (iPad + Mac + PS5)</h4>

            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <div class="w-100 rounded mb-4">
                        <%= image_pack_tag 'heartstone.jpg', class: "shadow-1-strong rounded img-fluid" %>
                        <a href="https://playhearthstone.com/en-us" rel="nofollow" target="_blank" class="link-danger">Heartstone</a>
                    </div>

                    <div class="w-100 rounded mb-4">
                        <%= image_pack_tag 'b5.jpg', class: "shadow-1-strong rounded img-fluid" %>
                        <a href="https://uk.wikipedia.org/wiki/Battlefield_V" rel="nofollow" target="_blank" class="link-danger">Battlefield V</a>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="w-100 rounded mb-4">
                        <%= image_pack_tag 'heroes_of_the_storm.jpg', class: "shadow-1-strong rounded img-fluid" %>
                        <a href="https://uk.wikipedia.org/wiki/Heroes_of_the_Storm" rel="nofollow" target="_blank" class="link-danger">Heroes of the Storm</a>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="w-100 rounded mb-4">
                        <%= image_pack_tag 'd2.jpg', class: "shadow-1-strong rounded img-fluid" %>
                        <a href="https://uk.wikipedia.org/wiki/Diablo_II" rel="nofollow" target="_blank" class="link-danger">Diablo 2</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%= render "layouts/footer" %>
</div>