<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <%= link_to "/ua", rel: 'nofollow', class: "nav-link" do %>
        <i class="bi bi-house-fill"></i>
        <% end %>
    </ul>
</header>
</div>


<div class="col-10 mx-auto py-md-5">

    <div class="row">
        <h1>Як оптимізувати використання мобільного Інтернет</h1>
        <p class="text-muted">11 грудня, 2022 року</p>
    </div>

    <div class="row mt-4">
        <h2>iOS (16.1)</h2>
        <p>Параметри → Стільникові дані → Опції даних → Вмикаємо «Режим економії даних»</p>
        <p><%= image_pack_tag 'low-data-mode/iOS low data mode.png', class: "img-fluid" %></p>
    </div>

    <hr>

    <div class="row mt-4">
        <h2>Telegram</h2>
        <p>
            <ol>
                <li>Налаштування → Дані та сховище:</li>
                <ul>
                    <li>Вимикаємо «Фонове завантаження»</li>
                    <li>Вмикаємо «Економія трафіку викликів»</li>
                </ul>
                <li>«Через мобільні мережу» → Вимикаємо «Автозавантаження медіа»</li>
            </ol>
        </p>
        <p><%= image_pack_tag 'low-data-mode/telegram low data mode.png', class: "img-fluid" %></p>
    </div>

    <hr>

    <div class="row mt-4">
        <h2>Instagram</h2>
        <p>Профіль → Налаштування → Обліковий запис → Використання даних → Вмикаємо «Використовуйте менше мобільних даних»</p>
        <p><%= image_pack_tag 'low-data-mode/instagram low data mode.png', class: "img-fluid" %></p>
    </div>

    <hr>

    <div class="row mt-4">
        <h2>Twitter</h2>
        <p>«Налаштування та конфіденційність» → «Спеціальні можливості, відображення та мови» → «Використання даних» → Вмикаємо «Економія трафіку»</p>
        <p><%= image_pack_tag 'low-data-mode/twitter low data mode.png', class: "img-fluid" %></p>
    </div>
    
    <%= render "layouts/footer" %>
</div>
